@media screen and (max-width: 1400px) {
    #profile{
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers{
        flex-wrap: wrap;
    }
    section{
        margin: 0 3rem;
    }
}
@media screen and (max-width: 1445px) {
    section{
        margin: 0 3rem;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    /* #experience, .experience-details-container{
        margin: 2rem;
    } */
    #profile, .section-container{
        display: block;
    }
    .arrow{
        display: none;
    }
    section, .section-container{
        height: fit-content;
    }
    section{
        margin: 0 3rem;
    }
    .section__pic-container{
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers{
        margin-top: 0;
        margin-left: 3rem;
    }
    #projects{
        display: table-cell;
    }
    #contact, footer{
        display: contents;
        height: 40vh;
    }
    .section__pic_container_about img{
        height: 13rem;
        width: auto;
        margin-left: 3.0rem;
        justify-content: center;

    }
    .section__pic_container_about{
        height: 296px;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer{
        display: contents;
        height: 40vh;
    }
    #profile{
        height: 83vh;
        margin-bottom: 0;
    }
    article{
        justify-content: start;
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, 
    .contact-info-upper-container,
    .btn-container{
        margin-left: 0.5rem;
        flex-wrap: wrap;
    }
    .details-conatiners-1, .details-conatiners-2 {
        width: 18rem;
    }

    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a{
        font-size: 1rem;
    }
    .experience-sub-title{
        font-size: 1.25rem;
    }
    .logo{
        font-size: 1.5rem;
    }
    .nav-links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section__pic-container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2rem;
    }
    .text-container{
        text-align: justify ;
    }
    .section__text-p1{
        text-align: center;
    }
    /* .about-details-container{
        margin-top: 2rem;
    } */
    /* #projects{
        margin: 0 10rem;
    } */
    .experience-details-container-project {
        margin: 3rem;
    }
}


@media screen and (max-width: 380px) {
    .menu-links.open {
        max-height: 300px;
        background: white;
        border-radius: 7rem;
    }
    .section__text-p1{
        margin-top: 8rem;
    }
    #projects{
        margin: 0px;
    }
    .contact-info-upper-container{
        margin-left: -9px;
    }
}

@media screen and (max-width: 390px) {
    body{
        width: 100vw;
    }
    .contact-info-upper-container{
        margin-left:-9px;
    }
}

@media screen and (max-width: 1024px){
    /* .experience-details-container-project {
        margin: 5rem;
    } */
    .menu-links.open {
        max-height: 300px;
        background: white;
        border-radius: 7rem;
    }
}

